{% extends 'layout.html' %}
{% block content %}
<div class="card m-auto" style="width: 80rem">
    <div class="card-header align-items-centerr">
        编辑部门
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="{{row_obj.title}}"  name="title"/>
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% endblock %}