{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.8/css/bootstrap.css'%}">
    <style>
        .login {
            /*position:fixed;*/
            height: 0;
            width: 400px;
            /*top: 150px;*/
            /*left: 0;*/
            /*right: 0;*/
            margin: 150px auto;
            /*background-color: tomato;*/
        }

        .login-header {
            box-shadow: 5px 5px 10px 0 rgb(161 161 161 / 0.43);
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="login">
        <div class="card login-header">
            <h5 class="card-header" style="text-align: center;background-color: rgb(159 154 154 / 0.07);">
                用户登录
            </h5>
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">用户名</label>
                        {{form.username}}
                        <div style="color: #e22030;font-size: 0.8em">{{form.username.errors.0}}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">密码</label>
                        {{form.password}}
                        <div style="color: #e22030;font-size: 0.8em">{{form.password.errors.0}}</div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">验证码</label>
                        <div class="row mb-2">
                            <div class="col col-sm-7">
                                {{form.code}}
                                <div style="color: #e22030;font-size: 0.8em">{{form.code.errors.0}}</div>
                            </div>
                            <div class="col col-sm-5">
                                <img src="/img/code/" style="width: 120px;height: auto">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="btn btn-primary" style="float: left">登 录</button>
                        <span style="float: right;font-size: 1em;opacity: 50%">忘记密码?</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>