{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.8/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="{% static 'plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css'%}">

</head>
<body>
<input type="text" id="datetimepicker">
<script src="{% static 'plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js'%}"></script>
<script src="{% static 'plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js'%}"></script>
<script type="text/javascript">
    $(function () {
        $("#datetimepicker").datetimepicker({
            format: 'yyyy-mm-dd',
            startDate:'0',
            language:'zh-CN',
            autoclose:true
        })
    });
</script>
</body>
</html>